/* @import "./responsive.css"; */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ------------------common-css------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* -------header-style----------- */
header {
  height: 100vh;
  background-color: #2d25a0;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  margin: 2.3rem 3.5rem;
}
header nav ul li {
  margin-left: 2rem;
}

.nav__link a {
  color: #fff;
}
.btn {
  margin: 1.8rem 3rem 0 0;
  padding: 1.1rem;
  font-size: 1.3rem;
  max-height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: #e02c6d;
  color: #fff;
  font-weight: 400;
  border: none;
  outline: none;
  transition: all linear 0.3s;
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 0.2rem;
  background-color: purple;
  color: #fff;
}
.btn i {
  margin-right: 0.7rem;
}
.header__area {
  display: flex;
  align-items: center;
}
.header__area .header__left-container,
.header__area .header__right-container {
  width: 50%;
}
.header__area .header__left-container {
  position: relative;
}
.header__area .header__left-container .header__left-content {
  position: absolute;
  top: -140px;
  left: 130px;
}
.header__area .header__left-container .header__left-content h1 {
  color: #fff;
  font-size: 64px;
}
.header__area .header__right-container img {
  width: 556px;
  height: 438px;
  margin-top: 6rem;
  transition: transform 0.5s;
}
.header__area .header__right-container img:hover {
  transform: translateY(-0.4rem) scale(1.03) skew(-2deg);
}
.section-btn {
  padding: 1.5rem 1.6rem;
}
.section-btn i {
  margin-left: 0.9rem;
}

/* -------------players-area------------ */

.players__area {
  margin-top: 3.5rem;
}
.players__area .players {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 5rem;
  grid-column-gap: 3rem;
  margin-left: 13.5rem;
}
.players__area .players .player {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.089);
  padding-bottom: 0.8rem;
}
.players__area .players .player .player__img img {
  width: 300px;
  height: 256px;
  margin: 15px 0 0 15px;
}
.players__area .players .player .player__description {
  width: 300px;
  margin: 15px 0 0 15px;
}
.players__area .players .player .player__description .player__name {
  margin-bottom: 1rem;
}
.players__area .players .player .player__description .player__info p {
  color: #6c6c6c;
  font-weight: 400;
}
/* ------------copa-area--------- */

.copa__area {
  display: flex;
  margin-top: 10rem;
}
.copa__left-container,
.copa__right-container {
  width: 50%;
}
.copa__left-container {
  position: relative;
}
.copa__left-container .copa__left-content {
  position: absolute;
  top: 70px;
  left: 217px;
}
.copa__left-container .copa__left-content h1 {
  font-size: 48px;
  color: #0a0826;
  margin-bottom: 0.5rem;
}
.copa__left-container .copa__left-content p {
  color: #6c6c6c;
}
.copa__right-container .copa__right-img img {
  width: 567px;
  height: 427px;
  margin-left: 3rem;
}
/* ------------copa__eleven--------------- */
.best__eleven {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.best__eleven h2 {
  font-size: 3.5rem;
}
.best__eleven-container img {
  width: 680px;
  height: 421px;
  border: 0.8rem solid rgb(127, 219, 255);
  border-radius: 10rem;
  margin-top: 3rem;
}

/* ----------copa-gallery------------- */
.copa__gallery {
  margin: 10rem 5rem;
}
.copa__gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-column-gap: 1.5rem;
}
.copa__gallery-container img {
  opacity: 0.9;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.copa__gallery-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
/* -------sponsor-area------------ */
.sponsor__area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsor__area h2 {
  font-size: 2.7rem;
}
.sponsor__area .sponsor__container {
  margin-top: 1.5rem;
}
.sponsor__area .sponsor__container img {
  margin-left: 0.5rem;
}
/* -----------footer-area----------- */

footer {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
footer .footer__container .footer__logo img {
  width: 483.87px;
  height: 110px;
}
.footer__others-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__others-content .social__icon i {
  font-size: 1.5rem;
  margin-left: 1.1rem;
}
.footer__others-content .copyright {
  margin-top: 1.3rem;
}
/* ------------responsiveness----------- */
@media only screen and (max-width: 480px) {
  header nav {
    display: none;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 130%;
    height: 1200px;
  }
  .header__area .header__left-container {
    position: relative;
  }
  .header__area .header__left-container .header__left-content {
    position: absolute;
    top: 40px;
    left: -67px;
  }
  .header__area .header__left-container .header__left-content h1 {
    font-size: 4rem;
    margin-left: -1rem;
  }
  .header__area .header__right-container img {
    margin: 40rem 0 0 -10rem;
    width: 470px;
  }
  .header__area {
    display: flex;
    flex-direction: column;
  }

  .players__area .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 2.5rem;
  }
  .players__area .players .player {
    width: 330px;
    height: 474px;
  }
  .copa__area {
    display: flex;
    flex-direction: column;
    margin: 5rem 0 5rem -10rem;
  }
  .copa__right-container .copa__right-img img {
    margin-top: 50rem;
    margin-left: 13rem;
    width: 328px;
    height: 248px;
  }
  .best__eleven {
    margin-left: 0.5rem;
  }
  .best__eleven h2 {
    width: 450px;
    font-size: 2rem;
    margin-left: 3rem;
  }
  .best__eleven-container img {
    width: 350px;
  }
  .copa__gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 330px);
    grid-row-gap: 2rem;
    margin-left: -3rem;
  }
  .sponsor__area,
  footer {
    margin: 3rem 5rem;
  }
  .footer__logo img {
    max-width: 15rem;
  }
  .sponsor__area h2 {
    width: 410px;
    margin-left: 3rem;
    font-size: 2.2rem;
  }
  .sponsor__container {
    display: flex;
  }
}
