@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* -------header-style----------- */
header {
  height: 100vh;
  background-color: #2d25a0;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  margin: 2.3rem 3.5rem;
}
header nav ul li {
  margin-left: 2rem;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav__link a {
  color: #fff;
}
.btn {
  margin: 1.8rem 3rem 0 0;
  padding: 1.1rem;
  font-size: 1.3rem;
  max-height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: #e02c6d;
  color: #fff;
  font-weight: 400;
  border: none;
  outline: none;
}
.btn i {
  margin-right: 0.7rem;
}
.header__area {
  display: flex;
  align-items: center;
}
.header__area .header__left-container,
.header__area .header__right-container {
  width: 50%;
}
.header__area .header__left-container {
  position: relative;
}
.header__area .header__left-container .header__left-content {
  position: absolute;
  top: -140px;
  left: 130px;
}
.header__area .header__left-container .header__left-content h1 {
  color: #fff;
  font-size: 64px;
}
.header__area .header__right-container img {
  width: 556px;
  height: 438px;
  margin-top: 6rem;
}
.header-btn {
  padding: 1.5rem 1.6rem;
}
.header-btn i {
  margin-left: 0.9rem;
}
